
@media only screen and (max-width : 992px) {
	div.main_header_content::after{
		display: none;
	}
	form.header_form div{
		flex-basis: 100%;
	}
	section.section_two figure{
		margin-bottom: 10px;
	}
	h1.date_event{
		text-align: center;
	}
	h1.date_descr{
		text-align: center;
	}
}
@media only screen and (max-width : 576px){
	div.header_item_wrap figure{
		text-align: center;
	}
	h1.date_event{
		font-size: 34px;
	}
	h1.date_descr{
		font-size: 34px;
	}
	section.section_two h3{
		font-size: 30px;
	}
	div.awords_wrap div{
		flex-basis: 50%;
		margin-bottom: 30px;
	}
	div.awords_wrap div:first-child{
		margin-right: 0px;
	}
	div.awords_wrap div:last-child{
		margin-left: 0px;
	}
}
@media only screen and (max-width : 538px){
	div.header_item_wrap figure{
		flex-basis: 100%;
		margin-bottom: 20px;
	}
}
    